server:
  port: 8083

spring:
  application:
    name: admin-service   # naam hi pehchaan hai

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

  instance:
    prefer-ip-address: true
