server:
  port: ${PORT:8080}

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/api/v1/auth/**

        - id: complaint-service
          uri: lb://COMPLAINT-SERVICE
          predicates:
            - Path=/api/v1/complaints/**

        - id: admin-service
          uri: lb://ADMIN-SERVICE
          predicates:
            - Path=/api/v1/admin/**

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL}


jwt:
  secret: resolvelt-super-secret-key-which-should-be-at-least-32-bytes
  expiration: 864000
